/* The hljs layer is loaded dynamically by JavaScript */
@layer reset, base, hljs, overrides;

@import url("../style-layers/_reset.css") layer(reset);

@layer base {
    pre,
    code {
        font-family: var(--ff-monospace);
    }
}

@layer overrides {
    code:empty {
        display: none;
    }

    @media (prefers-color-scheme: light) {
        code {
            border: 1px solid hsl(261, 36%, 50%);
        }
    }
}
