:root {
    --accent-color-light: hsl(261, 36%, 50%);
    --accent-color-mid: hsl(261, 36%, 45%);
    --accent-color-dark: hsl(261, 36%, 40%);

    @media (prefers-color-scheme: light) {
        --grey-color-light: hsl(0, 0%, 82%);
        --grey-color-dark: hsl(0, 0%, 79%);
        --outline-color: hsl(0, 0%, 50%);
        --validation-color: hsl(0, 100%, 50%);
    }

    @media (prefers-color-scheme: dark) {
        --grey-color-light: hsl(0, 0%, 25%);
        --grey-color-dark: hsl(0, 0%, 20%);
        --outline-color: hsl(0, 0%, 70%);
        --validation-color: hsl(0, 90%, 65%);
    }
}

input:not([type='checkbox']):not([type='radio']),
textarea {
    @media (prefers-color-scheme: light) {
        --input-default-border-color: var(--outline-color);
        --input-default-background-color: var(--body-background-color);
        --input-default-text-color: var(--body-text-color);
        --input-hover-border-color: var(--input-default-border-color);
        --input-hover-background-color: var(--input-default-background-color);
        --input-hover-text-color: var(--input-default-text-color);
    }

    @media (prefers-color-scheme: dark) {
        --input-default-border-color: var(--outline-color);
        --input-default-background-color: var(--body-background-color);
        --input-default-text-color: var(--body-text-color);
        --input-hover-border-color: var(--input-default-border-color);
        --input-hover-background-color: var(--input-default-background-color);
        --input-hover-text-color: var(--input-default-text-color);
    }

    display: block;
    max-inline-size: 100%;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: var(--input-default-border-color);
    background: var(--input-default-background-color);
    color: var(--input-default-text-color);
    padding-block: 0.4rem;
    padding-inline: 0.5rem;

    &:hover {
        border-color: var(--input-hover-border-color);
        background: var(--input-hover-background-color);
        color: var(--input-hover-text-color);
    }
}

input:not([type='checkbox']):not([type='radio']) {
    inline-size: 40ch;
}

textarea {
    inline-size: var(--readable-text-max-inline-size);
    resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
    accent-color: var(--accent-color-mid);
}

select {
    @media (prefers-color-scheme: light) {
        --select-default-border-color: var(--outline-color);
        --select-default-background-color: var(--body-background-color);
        --select-default-text-color: var(--body-text-color);
        --select-hover-border-color: var(--select-default-border-color);
        --select-hover-background-color: var(--select-default-background-color);
        --select-hover-text-color: var(--select-default-text-color);
    }

    @media (prefers-color-scheme: dark) {
        --select-default-border-color: var(--outline-color);
        --select-default-background-color: var(--body-background-color);
        --select-default-text-color: var(--body-text-color);
        --select-hover-border-color: var(--select-default-border-color);
        --select-hover-background-color: var(--select-default-background-color);
        --select-hover-text-color: var(--select-default-text-color);
    }

    display: block;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: var(--select-default-border-color);
    background: var(--select-default-background-color);
    color: var(--select-default-text-color);
    padding-block: 0.4rem;
    padding-inline: 0.2rem;

    &:hover {
        border-color: var(--select-hover-border-color);
        background: var(--select-hover-background-color);
        color: var(--select-hover-text-color);
    }
}

label {
    display: inline-block;
}

/* Add a UI hint to the user that this is a required input */
/* Once the :has() selector is widely supported, the "required" class won't be necessary */
label.required::after {
    /* Setting the alt text to an empty string means it won't be read by screen readers. */
    /* Not all browsers support content alt text so the fallback version is required. */
    content: "*";
    content: "*" / "";
    display: inline;
    margin-inline-start: 0.25em;
    color: var(--validation-color);
}

/* Add margin above inputs when following a label */
label + :is(input, textarea, select, .input-group) {
    margin-block-start: 0.4rem;
}

/* Add spacing between checkboxes/radios and their labels */
:is(input[type="radio"], input[type="checkbox"]) + label {
    margin-inline-start: 0.4rem;
}

button, .button {
    @media (prefers-color-scheme: light) {
        --btn-default-border-color: var(--grey-color-light);
        --btn-default-background-color: var(--grey-color-light);
        --btn-default-text-color: hsl(0, 0%, 10%);
        --btn-hover-border-color: var(--grey-color-dark);
        --btn-hover-background-color: var(--grey-color-dark);
        --btn-hover-text-color: var(--btn-default-text-color);
    }

    @media (prefers-color-scheme: dark) {
        --btn-default-border-color: var(--grey-color-dark);
        --btn-default-background-color: var(--grey-color-dark);
        --btn-default-text-color: hsl(0, 0%, 95%);
        --btn-hover-border-color: var(--grey-color-light);
        --btn-hover-background-color: var(--grey-color-light);
        --btn-hover-text-color: var(--btn-default-text-color);
    }

    min-inline-size: 5em;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: var(--btn-default-border-color);
    background: var(--btn-default-background-color);
    color: var(--btn-default-text-color);
    padding-block: 0.35em;
    padding-inline: 0.7em;
    letter-spacing: 0.01em;
    flex-shrink: 0;

    &:hover {
        border-color: var(--btn-hover-border-color);
        background: var(--btn-hover-background-color);
        color: var(--btn-hover-text-color);
    }
}

button.accent, .button.accent {
    @media (prefers-color-scheme: light) {
        --btn-default-border-color: var(--accent-color-dark);
        --btn-default-background-color: var(--accent-color-dark);
        --btn-default-text-color: hsl(0, 0%, 95%);
        --btn-hover-border-color: var(--accent-color-mid);
        --btn-hover-background-color: var(--accent-color-mid);
        --btn-hover-text-color: var(--btn-default-text-color);
    }

    @media (prefers-color-scheme: dark) {
        --btn-default-border-color: var(--accent-color-mid);
        --btn-default-background-color: var(--accent-color-mid);
        --btn-default-text-color: hsl(0, 0%, 95%);
        --btn-hover-border-color: var(--accent-color-dark);
        --btn-hover-background-color: var(--accent-color-dark);
        --btn-hover-text-color: var(--btn-default-text-color);
    }
}

a.button {
    display: inline-block;
    text-decoration: none;
    cursor: default;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
