:root {
    --ff-normal: "Arial", sans-serif;
    --ff-monospace: "Consolas", monospace;
    --fw-normal: 400;
    --fw-bold: 700;
    --readable-text-max-inline-size: 70ch;
}

body {
    @media (prefers-color-scheme: light) {
        --body-background-color: hsl(0, 0%, 98%);
        --body-text-color: hsl(0, 0%, 10%);
    }

    @media (prefers-color-scheme: dark) {
        --body-background-color: hsl(0, 0%, 12%);
        --body-text-color: hsl(0, 0%, 86%);
    }

    background: var(--body-background-color);
    color: var(--body-text-color);
    font-family: var(--ff-normal);
    font-weight: var(--fw-normal);
}

p {
    --paragraph-line-height: 1.5;
    --paragraph-spacing: 1em;

    line-height: var(--paragraph-line-height);
    max-inline-size: var(--readable-text-max-inline-size);

    & + p {
        margin-block-start: var(--paragraph-spacing);
    }
}

p code {
    @media (prefers-color-scheme: light) {
        --inline-code-border-color: hsl(0, 0%, 50%);
        --inline-code-background-color: var(--body-background-color);
        --inline-code-text-color: currentColor;
    }

    @media (prefers-color-scheme: dark) {
        --inline-code-border-color: hsl(0, 0%, 65%);
        --inline-code-background-color: var(--body-background-color);
        --inline-code-text-color: currentColor;
    }

    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--inline-code-border-color);
    background: var(--inline-code-background-color);
    color: var(--inline-code-text-color);
    padding-block: 0.05em;
    padding-inline: 0.1em;
}

pre,
code {
    font-family: var(--ff-monospace);
}
