@layer reset, typography, controls, page, utilities;

@import url("style-layers/_reset.css") layer(reset);
@import url("style-layers/_typography.css") layer(typography);
@import url("style-layers/_controls.css") layer(controls);
@import url("style-layers/_utilities.css") layer(utilities);

@layer page {
    body {
        padding-block: 1.5rem;
        padding-inline: 1.5rem;
    }

    #page-container {
        max-inline-size: 1600px;
        margin-inline: auto;
    }

    .button-toolbar {
        display: flex;
        gap: 0.5rem;
    }

    #form-and-preview {
        margin-block-start: 2rem;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: minmax(0, 1fr);
        gap: 2.5rem;
    }

    @media (width >= 900px) {
        body {
            padding: 3rem;
        }

        #form-and-preview {
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            gap: 3rem;
        }
    }

    #page-title {
        font-size: 2rem;
        margin-block-end: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    form label {
        font-weight: var(--fw-bold);
    }

    :is(label, input, textarea, select, .input-group) + .help-text {
        margin-block-start: 0.75rem;
    }

    .help-text + fieldset {
        margin-block-start: 0.75rem;
    }

    #shortcut {
        inline-size: 20ch;
    }

    #code {
        inline-size: 100ch;
        white-space: nowrap;
        overflow-x: auto;
        font-family: var(--ff-monospace);
    }

    #placeholders {
        margin-block-start: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    #placeholders label {
        /* Remove the default bold styling */
        font-weight: inherit;
    }

    #placeholders li > p {
        margin-block-end: 0.5rem;
    }

    .placeholder-inputs {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    #imports {
        margin-block: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .import {
        display: flex;
        align-items: stretch;
    }

    #preview {
        position: sticky;
        inset-block-start: 3rem;
        align-self: flex-start;
    }
}
